let env = {
  web3Url: 'http://127.0.0.1:8545',
  hotelContract: '',
  sagaPointContract: '',
  dbconfig: {
    host: 'localhost',
    user: 'root',
    password: '',
    database: 'saga'
  }
}

module.exports = env
